.mega label {
    margin-right: 10px;
}

.mega input {
    font-size: 1.4rem;
    width: 50px;
}

.numeros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.numeros-sorteados { 
    border: 2px solid #000;
    padding: 5px 5px 10px 3px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 5px;
}